$def with(datos)


<div class="container">
<div class="row">
	<div class="col-md-12">
		
	
	<h1>Clientes</h1>

<div class="table-responsive">
<caption>Lista de clientes</caption>
<table class="table">
	<thead class="thead-dark">
	<th class="col">Nombre</th>
	<th class="col">Direccion</th>
	<th class="col">Sexo</th>
	<th class="col">Correo</th>
	<th class="col">Update</th>
	<th class="col">Delete</th>
	<th class="col">View</th>
</thead>
	$for row in datos:
		<tr>
			<td>$row.nombre</td>
			<td>$row.direccion</td>
			<td>$row.sexo</td>
			<td>$row.correo</td>
			<td><a href="/updatecli/$row.nombre">Update</a></td>
			<td><a href="/deletecli/$row.nombre">Delete</a></td>
			<td><a href="/viewcli/$row.nombre">View</a></td>
		</tr>
	
</table>
</div>
<center>
	
	<a href="/insertcli" class="btn btn-primary">insertar nuevo</a>
</center>




	</div>
	</div>
</div>

