
<div class="container">
	
		
<h1>Nuevo cliente</h1>
<form method="POST" >
	<div class="form-group">
		<label for="nombre">Nombre</label>
	<input type="text" class="form-control" name="nombre" id="nombre" placeholder="nombre" required="">
	</div>
	<div class="form-group">
		<label for="direccion">Direccion</label>
		<input type="text" class="form-control" name="direccion" id="direccion" placeholder="Direccion" required="">
	</div>
	<div class="form-group">
		<label for="sexo">Sexo</label>
		<input type="text"  class="form-control" name="sexo" id="sexo" placeholder="Sexo" required="">
		
	</div>
	<div class="form-group">
		<label for="correo">correo</label>
		<input type="text" class="form-control" name="correo" id="correo" placeholder="correo" required="">
	</div>
	<button type="submit" class="btn btn-success">Guardar</button>


</form>

</div> 